option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: authtoken.wsgi:application
  "aws:ec2:vpc":
    AssociatePublicIpAddress: 'true'
    ELBScheme: public
    ELBSubnets: subnet-abc,subnet-def,subnet-xyz
    Subnets: subnet-abc,subnet-def,subnet-xyz
    VPCId: vpc-abc2374
  "aws:elasticbeanstalk:application:environment": 
    DJANGO_SETTINGS_MODULE: authtoken.settings
    DB_HOSTNAME: db.ap-south-1.rds.amazonaws.com
    DB_PORT: 5422
    DB_DBNAME: authtokendb 
    DB_USERNAME: postgres
    DB_PASSWORD: postgres20
  "aws:elasticbeanstalk:environment":
    EnvironmentType: SingleInstance
  "aws:ec2:instances":
    InstanceTypes: t3.micro
